@media screen and (min-width: 1200px ) {

  body{
    padding: 5vw 20vw;
  }


  .jumbotron{
    padding: 0;
    height: 250px;
  }

  .jumbotron h1 {
    font-size: 5vw;
  }

  .jumbotron h2 {
    font-size: 3vw;
  }

  hr{
    width: 100%;
  }


  .about-img{
    height: 20vw;
  }

  .about-me-paragraph{
    display: inline-block;

  }


  .link{
    font-size: 2rem;
  }


}
