
/**** Nav and head section ****/
.navbar {
  z-index: +1;
}
.title{
  position: relative;
  font-family: 'Damion', cursive;
  font-size: 80px;
  z-index: +1;
}


.page-header {
  height: 40%;
}

.title-container{
  height: 20%;
}

.jumbotron {
  margin: 0;
  padding-bottom: 2rem;

}

.jumbotron img{
  position: absolute;
  top: 0;
  left: 0;
  margin:0;
  width: 100%;
  opacity: 0.3;

}

.about-section{
  position: relative;
  background-color: white;
  margin-top: 10%;
}

@media (max-width: 992px){
  .title {
    font-size: 60px;
  }
  @media (max-width: 768px){
    .title {
      font-size: 50px;
    }

  .jumbotron {
    height: 200px;

}
}
